/* 업체 나열 */


a {
  color: black;
}
a:hover {
  text-decoration: none;
}

/* 유저 헤더가 여기에는 페딩이 적용됨 */
.navbar {
    
    background-color: #F2E9D0;
    /* background-color: #c0c0fc; */
    background-color: #C9C9C9; 
    background-color: #A3A096; 
    padding: 1rem 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.container-custom {
    margin: 20px;
    min-height: 70vh;
}

.store-count {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.item-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.item-image img {
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
}

.special-tags .badge {
    margin-right: 5px;
}

.pd2 {
    margin-left: 10px;
}
