.header-navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-navbar .brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.header-navbar .nav-link {
    color: #fff;
    margin-left: 10px;
}

.header-navbar .btn {
    color: #fff;
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

.header-navbar .btn:hover {
    background-color: #0056b3;
}

.header-navbar .dropdown-menu {
    right: 0;
    left: auto;
}

.header-navbar .justify-content-center {
    flex-grow: 1; /* 다른 요소들과 중앙 정렬을 맞추기 위해 flex-grow를 추가 */
    text-align: center; /* 텍스트 중앙 정렬 */
}