#main_container {
    /*height: 100vh;*/
    padding-top: 135px;
    display: flex;
    justify-content: center;
    order: 1;
}
#main_container2 {
    /*height: 100vh;*/
    padding-top: 135px;
    justify-content: center;
    order: 1;
}
 #main_container3 {
    height: 45vh;
    padding-top: 145px;
    display: flex;
    justify-content: center;
    order: 1;

    min-height: 70vh
}

.from_padding {

    padding-top: 15px;

}

/*-----로그인/회원가입*/

.form_container{
    width: 350px;
    margin: 0 auto

}

.form_container .form{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 0 40px 25px 40px;
    margin-bottom: 30px;
}


.form label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form input{
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
}

.form p{
    margin-bottom: 10px;
}

.form .submit_btn{
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    outline: none;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}

.bottom_box{
    text-align: center;
    /*height: 290px;*/
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 20px 40px 25px 40px;
    /*display: flex;*/
    /*align-items: center;*/
}

form .emailpass {
    width: 75%;
}

.form .btn_con{
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    outline: none;
    width: 17%;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}

.btn_con2{
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 580;
    line-height: 25px;
    outline: none;
    width: 25%;
    padding: 0;
    margin: 10px;
    cursor: pointer;
}

/*-----상점*/

.shop_container{
    width: 650px;
    margin: 0 auto

}

.shop_container .form{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 0 40px 25px 40px;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
    resize: none; 
}

.postmodal{
    background : rgba(0,0,0,0.25);
  
    left:0;
    top:0;
    height:100%;
    width:30%;
}


.form p{
    padding-top: 5%;
}


/* 헤더 css */
.navbar {
    background-color: #9d9de5;
}

/* 첫 메인 바디 */

#main_container3 {
    height: 45vh;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center; /* 중앙 정렬 */
    flex-wrap: wrap; /* 여러 줄로 정렬 */
    gap: 20px; /* 항목 간 간격 */
}

.item-list {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* 부드러운 전환 효과 */
    cursor: pointer; /* 마우스 포인터 변경 */
}

.item-list:hover {
    transform: translateY(-5px); /* 살짝 위로 이동 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
}

.item-list > .item {
    width: 237px;
    height: 170px;
    margin: 0; /* 항목 간격 제거 (gap 사용) */
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column; /* 수직 방향으로 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    background-color: #fff;
    border-radius: 8px; /* 둥근 테두리 */
    transition: background-color 0.2s ease-in-out; /* 부드러운 전환 효과 */
}

.item-list > .item:hover {
    background-color: #9d9de5;; /* 호버 시 배경색 변경 */
}

.item-maintext {
    font-size: 25px; /* 적절한 텍스트 크기 */
    margin: 0;
    text-align: center; /* 텍스트 중앙 정렬 */
    color: #333; /* 텍스트 색상 */
}

.item img {
    margin-bottom: 10px; /* 이미지와 텍스트 사이의 간격 */
}

/* 업체 */

.menu_list{
    margin-right: 1%;

}

#menu_container {
    /*height: 100vh;*/
    padding-top: 135px;
    display: flex;
    justify-content: center;
    order: 1;
}

input[readOnly] {
    background-color: #e9ecef; /* 비활성화된 것처럼 보이도록 회색 배경 */
    cursor: not-allowed;      /* 커서를 '금지' 아이콘으로 변경 */
}

/* 조회 */

.big-column {
    width: 100%;

}

.item-card {
    width: 400px;
    height: 80px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    display: flex;
    align-items: center;


    
}

.item-image {
    position: relative;

}
.item-info{
    padding-left: 5px;
}
.item-info p {


    justify-content: center;
}
#shop_container {
    /*height: 100vh;*/
    padding-top: 10px;
    display: flex;
    justify-content: center;
    order: 1;
}

#detail_container {
    /*height: 100vh;*/
    padding-top: 10px;
    display: flex;
    justify-content: center;
    order: 1;
}

/* 업체 조회상세페이지 */

.mv {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    /* border: 1px solid black; */
}

.left-sections {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.section {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    /* text-align: center; */
}
.basketto{
    text-align: center;
}

#c {
    flex: 1;

    align-items: center;
    justify-content: center;
}

.basket{
    padding: 5px;

}

.basket-data{
    display: flex;
}
