/* 유저헤더 */
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-brand img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.header-title {
    font-family: "Itim", cursive;
    font-size: 2.0rem;
    font-weight: bold;
    color: #ffffff;
}

.header-title .line {
    display: block;
}

.d-flex {
    align-items: center;
}

.me-2 {
    margin-right: 10px;
}

.button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Main 헤더 Css */
.header-wrapper {
    background-color: #C9C9C9;  /* 헤더 배경색 */
    padding: 20px 0;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 120px; /* 로고 이미지 크기 */
    margin-right: 10px;
}

.headertitle {
    font-family: "Itim", cursive;
    max-width: 600px; /* 타이틀 컨테이너 최대 너비 */
    margin: 0 auto; /* 가운데 정렬 */
    text-align: center; /* 가운데 정렬 추가 */
}

.headertitle h2 {
    font-size: 40px; /* 텍스트 크기 */
    font-weight: bold; /* 텍스트 굵기 */
    color: #000801bd; /* 텍스트 색상 */
    margin-bottom: 10px;
    /* animation: fadeIn 1s ease-in-out; 애니메이션 효과 */
}

.headertitle p {
    font-size: 20px; /* 텍스트 크기 */
    color: #000000;
    margin-top: 10px;
}

.headertitle strong {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    font-size: inherit;
    color: inherit;
}

/* @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */
